/* Centra en la página en texto del título */
h1
	{
		text-align: center;
	}
/* Da a todas las imágenes el mismo tamaño*/
img
	{
		width: 60px;
		height: 75px;
	}
/*Utilizando clases y una sola regla de selección haz que todas las celdas con texto de la primera columna tengan fondo violeta y letra blanca*/
th.primero
	{
		background-color: violet;
		color: white;
	}
/* Añadiendo sólo un id a la fila de la celda donde pone "Almacenamiento" y dando clase a las celdas con "GB" cambiar el tamaño de la letra  a 1.5 veces el tamaño normal de ese tipo de letra, centrar el texto y poner el fondo de color  granate y letras grises */
td#uno
	{
		background-color: #821039;
		text-align: center;
		color:grey;
		font-size: 1.5em;
	}
/* Añadiendo sólo un id a la fila que las contiene añade estilos a los elementos de la lista que están dentro de esa fila para ponerles color de texto verde*/
ul#lista
	{
		color: #0E7925;
	}
/*Utilizando un id aumenta el padding superior e inferior a la celda en la que pone "15 horas" y cambia el color de  fondo a verde*/
th#padding
	{
		padding-top: 50px;
		padding-bottom: 50px;
		background-color: #0E7925;
	}
/* Dar lo estilos adecuados para poner un borde simple blanco  colapsado y centrar la tabla */
table, th, td, tr
	{
		border-collapse: collapse;
		text-align: center;
		border: 1px solid white;
	}
/*Centrado de la tabla con un ancho prefijado.*/
table
	{
		margin:auto;
		width:20%;
	}
/* Dar color de fondo negro y color de letra violeta a todas las celdas que tiene colspan="2" o colspan="3"*/
[colspan="2"],[colspan="3"]
	{
		background-color: black;
		color: violet;
	}
/* Las celdas que contienen las palabras aisladas blanco o negro tienen el fondo verde. Este color es dado con clases*/
td.segundo
	{
		background-color: #0E7925;
	}
/* Las listas deben tener el fondo negro, y ambas listas lo reciben de la misma clase*/
.tercero
	{
		background-color: black;
	}